<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120085207359-klbkge6vuph9lnovchovjn695e08hs1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120085207359-klbkge6vuph9lnovchovjn695e08hs1b</string>
	<key>API_KEY</key>
	<string>AIzaSyBchZChq9tidFXAumF874vmrwnV7jfTdN0</string>
	<key>GCM_SENDER_ID</key>
	<string>120085207359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.books</string>
	<key>PROJECT_ID</key>
	<string>aplicativo-esms</string>
	<key>STORAGE_BUCKET</key>
	<string>aplicativo-esms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120085207359:ios:d535e173f0e3e794ac5b8a</string>
</dict>
</plist>